.App {
  text-align: center;
}
.encendido{
  background-color: rgb(70, 248, 70);
}
.apagado{
  background-color: black;
  color: white;
}

.useState{
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}

button{
  cursor: pointer;
}
ul{
  list-style: none;
}
li{
  cursor: pointer;
}